
:root{
    --fuente-principal: "Press Start 2P", system-ui;
    --fuente-secundaria: "Pixelify Sans", sans-serif;
    --color-fondo : #121212;
    --color-secundario : #2B2B2B;
    --color-textoPrincipal :#E0E0E0;
    --color-resaltar : #00BCD4;
    --color-hover : #FF4081;
    --color-backTitulos : #ff408083;

}
*{
    padding: 0;
    margin: 0;
}

body{
    font-family: var(--fuente-secundaria);
    background:   var(--color-fondo);
    color: var(--color-textoPrincipal);
}
/* encaabezado */

header{
    width: 100%;
    height: 350px;
    position: relative;
    background-image: url(../assets/img/fondoTitulo.jpg);
    background-position: center center;
    background-attachment: fixed;
}
.PlacaTitulo{
    width: 100%;
    line-height: 50px;
    position: absolute;
    top: 150px;
}

.Titulo{
    font-family: var(--fuente-principal);
    font-size: 30px;
    background-color:#ff408023;
    color: var(--color-resaltar);
    text-shadow: 0 0 10px var(--color-resaltar), 0 0 30px var(--color-hover);
    margin: 20px 0 auto;
    text-align: center;
}


/* configuracion nav */
nav {
    width: 100%;
    background-color: var(--color-secundario);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    text-align: left;
    font-family: var(--fuente-secundaria);
    text-transform: uppercase;
    font-weight: 600;
}

nav * {
    box-sizing: border-box;
    transition: all .35s ease;
}

nav ul {
    margin: 0;
    padding: 15px 0;
    display: flex;
    justify-content: left;
    align-items: left;
}

nav li {
    list-style: none;
    margin: 0 1em;
    padding: 0;
}

nav a {
    position: relative;
    padding: .5em .8em;
    color: var(--color-textoPrincipal);
    text-decoration: none;
    font-size: 20px;
    opacity: 0.8;
}

nav a::before,
nav a::after {
    content: '';
    position: absolute;
    height: 14px;
    width: 14px;
    transition: all .35s ease;
    opacity: 0;
}

/* Líneas de las esquinas */
nav a::before {
    right: 0;
    top: 0;
    border-top: 3px solid var(--color-hover);
    border-right: 3px solid var(--color-hover);
    transform: translate(-100%, 50%);
}

nav a::after {
    left: 0;
    bottom: 0;
    border-bottom: 3px solid var(--color-resaltar);
    border-left: 3px solid var(--color-resaltar);
    transform: translate(100%, -50%);
}

/* Hover: activa animación */
nav a:hover::before,
nav a:hover::after {
    transform: translate(0, 0);
    opacity: 1;
}

/* Hover: cambia color del texto */
nav a:hover {
    color: var(--color-hover);
    opacity: 1;
}

/* secciones */
section{
    max-width: 90%;
    margin: 80px auto;
    padding: 40px;
    background: var(--color-secundario);
    border-radius: 10px;
    border: 2px solid var(--color-hover);
    box-shadow: 0 0 25px var(--color-hover);
    transition: all 0.3s ease;
}
section:hover {
    box-shadow: 0 0 35px var(--color-resaltar), 0 0 60px var(--color-hover);
    transform: scale(1.02);
}

section h2{
    font-family: var(--fuente-principal);
    text-align: center;
    color: var(--color-resaltar);
    padding: 10px 10px;
}
section h2:hover{
    animation: 0.3s glitch;

}
@keyframes glitch {
    0%{
    text-shadow: red -4px 0, cyan 4px 0 ;

    }
    50%{
    text-shadow: red 4px 0, cyan -4px 0 ;

    }
    100%{
    text-shadow: red -4px 0, cyan 4px 0 ;

    }

}

/* FORMULARIO DE CONTACTO */

form {
    max-width: 600px;
    margin: 10px auto;
    padding: 20px;
}
form h2 {
    text-align: center;
    font-size: 40px;
    color: var(--color-resaltar);
    margin-bottom: 40px;
}

form label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
    color: var(--color-textoPrincipal);
}

form input,
form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 2px solid var(--color-resaltar);
    border-radius: 6px;
    font-size: 15px;
}

form input:focus,
form textarea:focus {
    outline: none;
    border-color: var(--color-hover);
    box-shadow: 0 0 10px var(--color-resaltar);
}

/* BOTON ENVIAR */
button {
    width: 150px;
    position: relative;
    height: 50px;
    border: 2px ridge var(--color-resaltar);
    outline: none;
    background-color: transparent;
    color: var(--color-textoPrincipal);
    transition: 1s;
    border-radius: 0.3em;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
}

button::after {
    content: "";
    position: absolute;
    top: -10px;
    left: 3%;
    width: 95%;
    height: 40%;
    background-color: var(--color-secundario);
    transition: 0.5s;
    transform-origin: center;
}

button::before {
    content: "";
    transform-origin: center;
    position: absolute;
    top: 80%;
    left: 3%;
    width: 95%;
    height: 40%;
    background-color: var(--color-secundario);
    transition: 0.5s;
}

button:hover::before, button:hover::after {
    transform: scale(0)
}

button:hover {
    box-shadow: inset 0px 0px 25px var(--color-hover);
        border: 2px ridge var(--color-hover);
}



/* FOOTER */
footer {
    width: 100%;
    height: 150px;
    background-color: var(--color-secundario);
    color: var(--color-textoPrincipal);
    gap: 3px;
    padding: 5px 0;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
footer ul {
    margin: 5px 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer li {
    list-style: none;
    margin: 0 10px;
    padding: 0;
}

footer a{
    position: relative;
    padding: 8px;
    color: var(--color-textoPrincipal);
    text-decoration: none;
    font-size: 15px;
    opacity: 0.8;
}
footer a:hover{
    color: var(--color-hover);
}

footer h4{
    margin-top: 5px;
    font-size: 15px;
    opacity: 0.8;
}

footer .card{
    gap: 10px;
    padding: 5px 0;
}


/* From Uiverse.io by 0800Gonza */
.card {
    width: fit-content;
    height: fit-content;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0px;
    gap: 10px;
}

/* for all social containers*/
.socialContainer {
    width: 52px;
    height: 52px;
    border-radius: 50%;
    background-color:var(--color-hover);
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    transition-duration: 1s;
}
/* instagram*/
.containerOne:hover {
    background-color: var(--color-resaltar);
    transition-duration: 0.3s;
}
/* twitter*/
.containerTwo:hover {
    background-color: var(--color-resaltar);
    transition-duration: 0.3s;
}
/* linkdin*/
.containerThree:hover {
    background-color: var(--color-resaltar);
    transition-duration: 0.3s;
}
/* Whatsapp*/
.containerFour:hover {
    background-color: var(--color-resaltar);
    transition-duration: 0.3s;
}

.socialContainer:active {
    transform: scale(0.9);
    transition-duration: 0.3s;
}

.socialSvg {
    width: 17px;
}

.socialSvg path {
    fill: var(--color-textoPrincipal);
}

.socialContainer:hover .socialSvg {
    animation: slide-in-top 0.3s both;
}

@keyframes slide-in-top {
0% {
    transform: translateY(-50px);
    opacity: 0;
}

100% {
    transform: translateY(0);
    opacity: 1;
}
}
